@import url('https://fonts.googleapis.com/css?family=Skranji');
@import url('https://fonts.googleapis.com/css?family=Arvo|Skranji');
section{
    position: relative;
    height: 500px;
    width: 300px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border-radius: 10%;


}

#two{
    position: absolute;
    top:0;
    right :10px;
    height: 500px;
    width: 300px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border-radius: 10%;


}

#three{
    position: absolute;
    top:0;
    left :10px;
    height: 500px;
    width: 300px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    border-radius: 10%;


}

section:hover{
    box-shadow: 4px 18px 20px 4px rgba(0.2,0.2,0.2,0.2);
}

#two:hover{
    box-shadow: 4px 18px 20px 4px rgba(0.2,0.2,0.2,0.2);
}

#three:hover{
    box-shadow: 4px 18px 20px 4px rgba(0.2,0.2,0.2,0.2);
}

body{
    background-color: rgb(248, 252, 252);
}

#abu{
    
    position: absolute;
    bottom: 10;
    height: 200px;
    width: 300px;
    padding: 2px 16px;
}
#uno img{
    height: 300px;
    width: 300px;
    border-radius: 10%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#uno img :hover{
    box-shadow: 4px 18px 20px 4px rgba(0.2,0.2,0.2,0.2);
}
#abu h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 text-decoration: underline;
 text-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
}

#abu h1:hover{
    text-shadow: 4px 18px 20px 4px rgba(0.2,0.2,0.2,0.2);
}
 li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: gray;
}